<h1> Play Game</h1>

<form action="{% url 'random_game_url' %}" method="POST">
	{% csrf_token %}
	{% if random_number %}

	<input type="hidden" name="random_number" value={{random_number}}>
	{% endif %}
	<input type="number" name="user_number">
	
  <button type="submit">Check</button>
</form>

{% if message %}
{{message}}
{% endif %}


